body {
  box-sizing: border-box;
  overflow-x: hidden;
}

html {
  width: 100%;
  height: 100%;
}

h1{
  box-shadow: 5px black;
}

.principal{
  width: 100%;
  height: 100%;
  background-image: url(../img/bin.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.nav-link {
  width: 100px;
  height: 100%;
  align-content: center;
}

.container-fluid{
  padding: 10px;
}

.nav-item:hover {
  transform: scale(1.5);
}

.logo{
  width: 50%;
}

.nav-item {
  text-align: center;
}

.organisation{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

#caroussel {
  width: 140px;
  overflow: hidden;
  border: 2px solid black;
}

.images {
  display: flex;
  justify-content: start;
  animation-duration: 20s;
  animation-name: caroussel;
  animation-iteration-count: infinite;
}

@keyframes caroussel {
  0% {
    transform: translateX(0);
  }
  33.3% {
    transform: translateX(-140px);
  }
  66.6% {
    transform: translateX(-280px);
  }
  100% {
    transform: translateX(0);
  }
}

.defil-img{
  width: 140px;
}

footer{
  position: relative;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  height: 110px;
}

.img-footer{
  width: 50px;
}

.img-footer.animate {
  animation: defilement 2s linear infinite;
  display: block;
}

/* Modale */

.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: none;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 400px;
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 3px;
  display: none;
}

.modal_close{
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  border: none;
  background-color: white;
}

.modal_close:hover{
  transform: scale(1.5);
}

.modal_header h2 {
  margin: 15px;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.modal_body{
  margin: 25px;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.modal_footer {
  position: absolute;
  right: 10px;
}

.modal_footer button {
  background-color: #3f51b5;
  color: white;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  font-style: 16px;
  font-family: "Roboto", sans-serif;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}

.modal_footer button:hover {
  background-color: #303f9f;
}

.modal-open{
  display: block;
}



.org_button {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.manage_button{
  padding: 5px;
  background-color: transparent;
  border-radius: 10px;
  font-weight: bold;
}

.manage_button:hover{
background-color: #ffffff8a;
}

@keyframes defilement {
  0% {
    transform: translateY(0); 
  }
  50% {
    transform: translateY(5vh) rotate(180deg);
  }
  100% {
    transform: translateY(0) rotate(360deg); 
  }
}

@media screen and (max-width: 992px) {
  .nav-link {
    width: 100%;
    height: 55px;
    align-content: center;
  }

  .logo{
    width: 50px
  }
}